[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
huggingface-hub = "*"
sentence-transformers = "*"
faiss-cpu = "*"
"pdfminer.six" = "*"
spacy = {version = "*", extras = ["apple"]}

[requires]
python_version = "3.9"
